html {
  font-size: 68%;
}
hr {
  padding: 0px;
  margin: 0px;
  border: 1px #cfcdcd solid;
}
h4 {
  margin: 0px;
  padding: 0px;
}
html,
body {
  margin: 0;
  padding: 0;
}
.main-container {
}
.container {
  display: flex;
  flex-direction: row;
}

.panel {
}

.panel {
  padding: 10px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.data-container {
  display: flex;
  gap: 10px;
  flex-direction: column;

  height: 100vh;
}

.content-cards {
  background-color: #fcfafa;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  border: 1px solid #ccc;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.content-img img {
  width: 100%;
  height: auto;
}

.content-info {
  height: auto;
  width: 70%;
}

.content-info h4 {
  font-size: 2.5rem;
  font-weight: bold;
}

.margin-10 {
  margin: 10px;
  font-size: 1.6rem;
}

.content-text {
  margin: 10px;
  display: flex;
  gap: 5px;
}
.content-text div {
}

.content-text div:nth-child(1) {
  flex: 1;
  text-align: left;
}
.content-text div:nth-child(2) {
  flex: 2;
  text-align: left;
}

/* Estilos del menus */

.menus {
  background-color: #1d293d;
  border-bottom: 1px solid #eee;
  line-height: 50px;
  color: white;
}

.container-menus {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5px;
  padding-left: 20px;
}

.nav-list ul {
  margin: 0;
  padding: 0;
}
.nav-list ul li {
  margin: 0;
  padding: 0;
}

.menus-left {
  display: flex;
  align-items: center;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.menu-items li {
  display: inline;
}

.menu-items a {
  text-decoration: none;
  color: #ccc;
  line-height: 40px;
  font-size: 1.6rem;
  padding: 11px 5px;
  transition: background-color 0.3s;
}

.menu-items a:hover {
  background-color: #0f172b;
}
